<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <title>后台管理系统</title>
    <!-- 引入bootstrap样式 -->
    <link th:href="@{/bootstrap/css/bootstrap.css}" rel="stylesheet" type="text/css">
    <!--图标库-->
    <link th:href="@{/lyear/css/materialdesignicons.min.css}" rel="stylesheet" type="text/css"/>
    <!--弹出框样式-->
    <link th:href="@{/lyear/jconfirm/jquery-confirm.min.css}" rel="stylesheet" type="text/css"/>
    <!--自定义样式-->
    <link href="../lyear/css/style.min.css" th:href="@{/lyear/css/style.min.css}" rel="stylesheet" type="text/css"/>

</head>
<body>
<div class="lyear-layout-web">
    <div class="lyear-layout-container">
        <!--左侧导航-->
        <div th:replace="admin/common/leftbar::#leftbaraside"></div>
        <!--头部信息-->
        <div th:replace="admin/common/topbar::#topbarheader"></div>

        <!--页面主要内容-->
        <main class="lyear-layout-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <div>
                                    <h4>货币基金管理</h4>
                                </div>
                                <br>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control"
                                           id="select_id_input" name="content"
                                           placeholder="请输入产品id：" width="100px">
                                    <span class="help-block"></span>
                                </div>

                                <div class="col-md-2">
                                    <input type="text" class="form-control"
                                           id="select_name_input" name="content"
                                           placeholder="请输入产品名称：" width="100px">
                                    <span class="help-block"></span>
                                </div>

                                <div class="col-md-2">
                                    <input type="text" class="form-control"
                                           id="select_company_input" name="content"
                                           placeholder="请输入行业：" width="100px">
                                    <span class="help-block"></span>
                                </div>

                                <div class="col-md-2">
                                    <input type="text" class="form-control"
                                           id="select_manager_input" name="content"
                                           placeholder="请输入经理：" width="100px">
                                    <span class="help-block"></span>
                                </div>

                                <button id="select_view_btn" class="btn btn-primary btn-sm ">
															<span class="glyphicon glyphicon-pencil"
                                                                  aria-hidden="true"></span> 查询
                                </button>


                            </div>

                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-hover table-striped">
                                        <thead>
                                        <tr>
                                            <th class="info">基金代码</th>
                                            <th class="info">产品名称</th>
                                            <th class="info">行业</th>
                                            <th class="info">基金经理</th>
                                            <th class="info">年化收益率</th>
                                            <th class="info">简介</th>
                                            <th class="info">风险级别</th>
                                            <th class="info">相关操作</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="finance:${financeList}">
                                            <td th:text="${finance.code}"></td>
                                            <td th:text="${finance.name}"></td>
                                            <td th:text="${finance.company}"></td>
                                            <td th:text="${finance.people}"></td>
                                            <td th:text="${#numbers.formatDecimal(finance.leastmoney*100,1,3)}+'%'"></td>
                                            <td th:text="${finance.instruction}"></td>
                                            <td th:if="${finance.risLevel==null}" th:text="空"></td>
                                            <td th:if="${finance.risLevel==1}" th:text="高"></td>
                                            <td th:if="${finance.risLevel==2}" th:text="中"></td>
                                            <td th:if="${finance.risLevel==3}" th:text="低"></td>
                                            <td>
                                                <button class="btn btn-primary btn-sm update_btn"
                                                        th:attr="update-id=${finance.id}">
															<span class="glyphicon glyphicon-pencil"
                                                                  aria-hidden="true"></span> 编辑
                                                </button>
                                                <button class="btn btn-danger btn-sm delete_btn"
                                                        th:attr="delete-id=${finance.id},delete-name=${finance.name}">
															<span class="glyphicon glyphicon-trash"
                                                                  aria-hidden="true"></span> 删除
                                                </button>
                                                <button class="btn btn-primary btn-sm recommend_btn" id="recommend_common_btn"
                                                        th:attr="add-id=${finance.id}">
															<span class="glyphicon glyphicon-thumbs-up"
                                                                  aria-hidden="true"></span> 推荐
                                                </button>
                                                <button class="btn btn-primary btn-sm add_btn" id="add_common_btn"
                                                        th:attr="add-id=${finance.id}">
															<span class="glyphicon glyphicon-edit"
                                                                  aria-hidden="true"></span> 新增评论
                                                </button>
                                                <button id="select_common_btn" class="btn btn-primary btn-sm select_btn"
                                                        th:attr="select-id=${finance.id}">
															<span class="glyphicon glyphicon-th-list"
                                                                  aria-hidden="true"></span> 查看评论
                                                </button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <!-- 显示分页信息 -->
                            <div class="row">

                                <!-- 新增按钮 -->
                                <div class="col-md-1" style="margin-left: 24px">
                                    <button id="add_modal_btn" class="btn btn-primary">新增</button>
                                </div>

                                <div class="col-md-5">
                                    <div class="btn-group">
                                        <button class="btn btn-default">
                                            <span>页次：</span>
                                        </button>
                                        <button class="btn btn-default">
                                            <span th:text="${finacnePageInfo.pageNum}+'/'+${finacnePageInfo.pages}+'页'"></span>
                                        </button>
                                        <button class="btn btn-default">
                                            <span>每页显示：</span>
                                        </button>
                                        <div class="btn-group">
                                            <button id="btnGroupDrop1"
                                                    class="btn btn-default dropdown-toggle"
                                                    data-toggle="dropdown" aria-haspopup="true"
                                                    aria-expanded="false"><span
                                                    th:text="${finacnePageInfo.pageSize}"></span>
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li th:each="i:${#numbers.sequence(1,10)}">
                                                    <a th:text="${i}"
                                                       th:href="@{/admin/finance/toTermFinancial.html(pageNum=${finacnePageInfo.pageNum},pageSize=${i})}"></a>
                                                </li>
                                            </ul>
                                        </div>
                                        <button class="btn btn-default">
                                            <span>条</span>
                                        </button>
                                        <button class="btn btn-default">
                                            <span>总记录数：</span>
                                        </button>
                                        <button class="btn btn-default">
                                            <span th:text="${finacnePageInfo.total}+'条'"></span>
                                        </button>
                                    </div>
                                </div>

                                <!-- 分页条信息 -->
                                <div class="col-md-5">
                                    <nav aria-label="Page navigation">
                                        <ul class="pagination pagination-lg pull-right"
                                            style="margin-top: 0">
                                            <li>
                                                <a th:href="@{/admin/finance/toTermFinancial.html(pageNum=1,pageSize=${finacnePageInfo.pageSize})}">首页</a>
                                            </li>

                                            <li th:if="${finacnePageInfo.hasPreviousPage }"><a
                                                    th:href="@{/admin/finance/toTermFinancial.html(pageNum=${finacnePageInfo.pageNum}-1,pageSize=${finacnePageInfo.pageSize})}"
                                                    aria-label="Previous"> <span aria-hidden="true">&laquo;</span>
                                            </a></li>

                                            <li th:each="page_Num:${finacnePageInfo.navigatepageNums }"
                                                th:class="${page_Num == finacnePageInfo.pageNum?'active':''}">
                                                <a th:if="${page_Num == finacnePageInfo.pageNum}"
                                                   th:text="${page_Num}"
                                                   th:href="@{#}">
                                                </a>
                                                <a th:text="${page_Num}"
                                                   th:if="${page_Num != finacnePageInfo.pageNum}"
                                                   th:href="@{/admin/finance/toTermFinancial.html(pageNum=${page_Num},pageSize=${finacnePageInfo.pageSize})}">
                                                </a>
                                            </li>

                                            <li th:if="${finacnePageInfo.hasNextPage }"><a
                                                    th:href="@{/admin/finance/toTermFinancial.html(pageNum=${finacnePageInfo.pageNum}+1,pageSize=${finacnePageInfo.pageSize})}"
                                                    aria-label="Next"> <span aria-hidden="true">&raquo;</span>
                                            </a></li>

                                            <li><a
                                                    th:href="@{/admin/finance/toTermFinancial.html(pageNum=${finacnePageInfo.pages},pageSize=${finacnePageInfo.pageSize})}">末页</a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>

                        </div>
                    </div>

                    <!-- 查看评论的模态框 -->
                    <div class="modal fade" id="selectCommonModal" tabindex="-1"
                         role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"
                                            aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <h4 class="modal-title">查看货币基金评论</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="table-responsive">
                                        <table id="monitor-table" class="table table-hover table-striped">
                                            <thead>
                                            <tr>
                                                <th data-field="item0">序号</th>
                                                <th data-field="item1">评论内容</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default"
                                            data-dismiss="modal">关闭
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- 新增推荐银行的模态框 -->
                    <div class="modal fade bs-example-modal-lg" id="recommendCommonModal" tabindex="-1"
                         role="dialog" aria-labelledby="myLargeModalLabel">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"
                                            aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <h4 class="modal-title">推荐</h4>
                                </div>
                                <div class="modal-body">
                                    <!--要提交的表单 -->
                                    <form class="form-horizontal">
                                        <div class="form-group" hidden>
                                            <label class="col-sm-2 control-label">id：</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control"
                                                       id="recommendId" name="recommendId"
                                                       placeholder="id：">
                                                <span class="help-block"></span>
                                            </div>
                                            <div class="col-sm-1">
                                                <em style="color: red">*</em>
                                            </div>
                                        </div>
                                        <div class="form-group" id="manager_div">
                                            <label class="col-sm-2 control-label">选择推荐客户：</label>
                                            <div class="col-sm-6">
                                                <select id="userList" class="form-control" name="type">
                                                </select>
                                            </div>
                                            <div class="col-sm-1">
                                                <em style="color: red">*</em>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">推荐理由：</label>
                                            <div class="col-sm-10">
                                                <div id="addDescEditor"></div>
                                                <input type="text" name="recommendReason" id="recommendReason"
                                                       style="display: none" />
                                            </div>
                                        </div>

                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default"
                                            data-dismiss="modal">关闭
                                    </button>
                                    <button type="button" class="btn btn-primary"
                                            id="save_recommend_btn">保存
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>



                    <!-- 新增评论的模态框 -->
                    <div class="modal fade" id="addCommonModal" tabindex="-1"
                         role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"
                                            aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <h4 class="modal-title">新增货币基金评论</h4>
                                </div>
                                <div class="modal-body">
                                    <!--要提交的表单 -->
                                    <form class="form-horizontal">
                                        <div class="form-group" hidden>
                                            <label class="col-sm-2 control-label">id：</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control"
                                                       id="relaId" name="relaId"
                                                       placeholder="id：">
                                                <span class="help-block"></span>
                                            </div>
                                            <div class="col-sm-1">
                                                <em style="color: red">*</em>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">评论：</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control"
                                                       id="common_add_input" name="content"
                                                       placeholder="请输入评论：">
                                                <span class="help-block"></span>
                                            </div>
                                            <div class="col-sm-1">
                                                <em style="color: red">*</em>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default"
                                            data-dismiss="modal">关闭
                                    </button>
                                    <button type="button" class="btn btn-primary"
                                            id="save_common_btn">保存
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- 新增理财的模态框 -->
                    <div class="modal fade" id="addModal" tabindex="-1"
                         role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"
                                            aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <h4 class="modal-title">新增货币基金产品</h4>
                                </div>
                                <div class="modal-body">
                                    <!--要提交的表单 -->
                                    <form class="form-horizontal">
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">基金代码：</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control"
                                                       id="code_add_input" name="code"
                                                       placeholder="请输入基金代码：">
                                                <span class="help-block"></span>
                                            </div>
                                            <div class="col-sm-1">
                                                <em style="color: red">*</em>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">产品名称：</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control"
                                                       id="name_add_input" name="name"
                                                       placeholder="请输入产品名称：">
                                                <span class="help-block"></span>
                                            </div>
                                            <div class="col-sm-1">
                                                <em style="color: red">*</em>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">行业：</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control"
                                                       id="company_add_input" name="company"
                                                       placeholder="请输入行业：">
                                                <span class="help-block"></span>
                                            </div>
                                            <div class="col-sm-1">
                                                <em style="color: red">*</em>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">基金经理：</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control"
                                                       id="people_add_input" name="people"
                                                       placeholder="请输入基金经理：">
                                                <span class="help-block"></span>
                                            </div>
                                            <div class="col-sm-1">
                                                <em style="color: red">*</em>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">年化收益率：</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control"
                                                       id="leastmoney_add_input" name="leastmoney"
                                                       placeholder="请输入七日年化收益率：">
                                                <span class="help-block"></span>
                                            </div>
                                            <div class="col-sm-1">
                                                <em style="color: red">*</em>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">简介：</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control"
                                                       id="instruction_add_input" name="instruction"
                                                       placeholder="请输入产品名称：">
                                                <span class="help-block"></span>
                                            </div>
                                            <div class="col-sm-1">
                                                <em style="color: red">*</em>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">风险级别：</label>
                                            <div class="col-sm-6">
                                                <div class="example-box">
                                                    <label class="lyear-radio radio-inline">
                                                        <input type="radio" name="risLevel"
                                                               value="1" checked="checked"><span>高</span>
                                                    </label>
                                                    <label class="lyear-radio radio-inline">
                                                        <input type="radio" name="risLevel"
                                                               value="2"> <span>中</span>
                                                    </label>
                                                    <label class="lyear-radio radio-inline">
                                                        <input type="radio" name="risLevel"
                                                               value="3"> <span>低</span>
                                                    </label>
                                                </div>
                                                <span class="help-block"></span>
                                            </div>
                                            <div class="col-sm-1">
                                                <em style="color: red">*</em>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default"
                                            data-dismiss="modal">关闭
                                    </button>
                                    <button type="button" class="btn btn-primary"
                                            id="save_btn">保存
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- 修改用户的模态框 -->
                    <div class="modal fade" id="updateModal" tabindex="-1"
                         role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"
                                            aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <h4 class="modal-title">修改货币基金产品信息</h4>
                                </div>
                                <div class="modal-body">
                                    <!--要提交的表单 -->
                                    <form class="form-horizontal">
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">基金代码：</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control"
                                                       id="code_update_input" name="code"
                                                       placeholder="请输入基金代码：">
                                                <span class="help-block"></span>
                                            </div>
                                            <div class="col-sm-1">
                                                <em style="color: red">*</em>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">产品名称：</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control"
                                                       id="name_update_input" name="name"
                                                       placeholder="请输入产品名称：">
                                                <span class="help-block"></span>
                                            </div>
                                            <div class="col-sm-1">
                                                <em style="color: red">*</em>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">行业：</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control"
                                                       id="company_update_input" name="company"
                                                       placeholder="请输入行业：">
                                                <span class="help-block"></span>
                                            </div>
                                            <div class="col-sm-1">
                                                <em style="color: red">*</em>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">基金经理：</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control"
                                                       id="people_update_input" name="people"
                                                       placeholder="请输入基金经理：">
                                                <span class="help-block"></span>
                                            </div>
                                            <div class="col-sm-1">
                                                <em style="color: red">*</em>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">年化收益率：</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control"
                                                       id="leastmoney_update_input" name="leastmoney"
                                                       placeholder="请输入七日年化收益率：">
                                                <span class="help-block"></span>
                                            </div>
                                            <div class="col-sm-1">
                                                <em style="color: red">*</em>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">简介：</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control"
                                                       id="instruction_update_input" name="instruction"
                                                       placeholder="请输入产品名称：">
                                                <span class="help-block"></span>
                                            </div>
                                            <div class="col-sm-1">
                                                <em style="color: red">*</em>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">风险级别：</label>
                                            <div class="col-sm-6">
                                                <div class="example-box">
                                                    <label class="lyear-radio radio-inline">
                                                        <input type="radio" name="risLevel"
                                                               value="1" checked="checked"><span>高</span>
                                                    </label>
                                                    <label class="lyear-radio radio-inline">
                                                        <input type="radio" name="risLevel"
                                                               value="2"> <span>中</span>
                                                    </label>
                                                    <label class="lyear-radio radio-inline">
                                                        <input type="radio" name="risLevel"
                                                               value="3"> <span>低</span>
                                                    </label>
                                                </div>
                                                <span class="help-block"></span>
                                            </div>
                                            <div class="col-sm-1">
                                                <em style="color: red">*</em>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default"
                                            data-dismiss="modal">关闭
                                    </button>
                                    <button type="button" class="btn btn-primary"
                                            id="update_btn">更新
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </main>
        <!--End 页面主要内容-->
    </div>
</div>

<!-- 引入jQuery和bootstrap的js -->
<script th:src="@{/js/jquery.js}"></script>
<script th:src="@{/bootstrap/js/bootstrap.js}"></script>
<!--滚动条插件-->
<script th:src="@{/lyear/js/perfect-scrollbar.min.js}"></script>
<!--弹出框js-->
<script th:src="@{/lyear/jconfirm/jquery-confirm.min.js}"></script>
<!--富文本编辑框js-->
<script th:src="@{/js/wangEditor.js}"></script>
<!--自定义js脚本-->
<script th:src="@{/lyear/js/main.min.js}"></script>
<script type="text/javascript">


    var role =  [[${session.loginAdmin.type}]];
    console.log(role);
    if(1 === role){
        var updateBtn = document.getElementsByClassName("update_btn");
        var i;
        for (i = 0; i < updateBtn.length; i++) {
            updateBtn[i].style.display = "none";
        }

        var deleteBtn = document.getElementsByClassName("delete_btn");
        var j;
        for (j = 0; j < deleteBtn.length; j++) {
            deleteBtn[j].style.display = "none";
        }

        var addBtn =   document.getElementById("add_modal_btn");
        addBtn.style.display = "none";

        //获取改产品经理的所有客户，然后放进去

        $.ajax({
            url: "/user/selectAllUser",
            type: "POST",
            async: false,
            contentType: "application/json; charset=utf-8",
            success: function (result) {
                var resultList =  result.extend.list;
                if (result.code === 100) {
                    if(resultList === null){
                        $.alert('您没有客户进行推荐！');
                    }
                    for(var i=0;i<resultList.length;i++){
                        $("#userList").append("<option value='" + resultList[i].id + "'>" + resultList[i].username  + "</option>");
                    }
                } else {
                    $.alert('查询展示投资顾问错误！');
                }
            }
        });

    }else {
        var recommendBtn = document.getElementsByClassName("recommend_btn");
        var j;
        for (j = 0; j < recommendBtn.length; j++) {
            recommendBtn[j].style.display = "none";
        }
    }


    //新增推荐
    $(document).on("click", ".recommend_btn", function () {
        //清除表单数据（表单完整重置（表单的数据，表单的样式））

        var E = window.wangEditor;
        var editor = new E('#addDescEditor');
        editor.customConfig.zIndex = 100;
        editor.customConfig.onchange = function(html) {
            // 监控变化，同步更新到 textarea
            //alert(html);
            textArea = html;
            $("#addDescEditor").val(html);
            $("#addBankdesc").val(html);
            //alert($("#divEditor").val());
        }
        editor.create();
        //初始化显示内容
        editor.txt.html("<h1>欢迎编辑，请输入文字...</h1>");


        var id = $(this).attr("add-id");  //产品id
        reset_form("#recommendCommonModal form");
        //手动赋值
        $("#recommendId").val(id);
        //弹出模态框
        $("#recommendCommonModal").modal({
            //点击增加框背景不删除增加框
            backdrop: "static"
        });
    });


    //点击新增按钮弹出模态框。
    $("#add_modal_btn").click(function () {
        //清除表单数据（表单完整重置（表单的数据，表单的样式））
        reset_form("#addModal form");
        //弹出模态框
        $("#addModal").modal({
            //点击增加框背景不删除增加框
            backdrop: "static"
        });
    });

    //点击新增评论弹出模态框。
    $(document).on("click", ".add_btn", function () {
        //清除表单数据（表单完整重置（表单的数据，表单的样式））
        var id = $(this).attr("add-id");  //产品id
        reset_form("#addCommonModal form");
        //手动赋值
        $("#relaId").val(id);
        //弹出模态框
        $("#addCommonModal").modal({
            //点击增加框背景不删除增加框
            backdrop: "static"
        });
    });


    //点击保存，保存新增评论。
    $("#save_recommend_btn").click(function () {
        //清空表单样式
        clean_form("#addModal form");
        //内容
        var common = $("#recommendReason").val();
        //产品id
        var id  = $("#recommendId").val();
        //客户id
        var userId = jQuery("#userList  option:selected").val();
        var array=new Array[userId];
        //2、发送ajax请求保存产品
        $.ajax({
            data:JSON.stringify( {
                "payMoneyId": id,
                "userIdList": array,
                "content": common
            }),
            url: "/user/buyPayMoney",
            type: "POST",
            contentType: "application/json; charset=utf-8",
            success: function (result) {
                if (result.code === 100) {
                    $("#recommendCommonModal").modal('hide');
                    $.alert(result.msg);
                    setTimeout(function () {
                        var pageNum = [[${finacnePageInfo.pages}]];
                        var pageSize = [[${finacnePageInfo.pageSize}]];
                        location.href = "/admin/finance/toTermFinancial.html?pageNum=" + pageNum + "&pageSize=" + pageSize;
                    }, 1000);
                } else {
                    $.alert(result.msg);
                }
            }
        });
    });


    $("#select_view_btn").click(function () {
        var code = $("#select_id_input").val();
        var name = $("#select_name_input").val();
        var company = $("#select_company_input").val();
        var manager = $("#select_manager_input").val();
        var pageNum = [[${finacnePageInfo.pages}]];
        var pageSize = [[${finacnePageInfo.pageSize}]];
        location.href = "/admin/finance/toTermFinancial.html?pageNum=" + pageNum
            + "&pageSize=" + pageSize
            + "&code=" + code
            + "&name=" + name
            + "&company=" + company
            + "&people=" + manager;
    });

    //点击保存，保存新增评论。
    $("#save_common_btn").click(function () {
        //清空表单样式
        clean_form("#addModal form");
        var common = $("#common_add_input").val();
        var id  = $("#relaId").val();
        //2、发送ajax请求保存产品
        $.ajax({
            data:JSON.stringify( {
                "type": 4,
                "relaId": id,
                "content": common
            }),
            url: "/comment/addComment",
            type: "POST",
            contentType: "application/json; charset=utf-8",
            success: function (result) {
                if (result.code === 100) {
                    $("#addCommonModal").modal('hide');
                    $.alert(result.msg);
                    setTimeout(function () {
                        var pageNum = [[${finacnePageInfo.pages}]];
                        var pageSize = [[${finacnePageInfo.pageSize}]];
                        location.href = "/admin/finance/toTermFinancial.html?pageNum=" + pageNum + "&pageSize=" + pageSize;
                    }, 1000);
                } else {
                    $.alert(result.msg);
                }
            }
        });
    });

    //点击保存，保存新增产品信息。
    $("#save_btn").click(function () {
        //清空表单样式
        clean_form("#addModal form");

        var name = $("#name_add_input").val();
        var leastmoney = $("#leastmoney_add_input").val();
        var annualincome = $("#annualincome_add_input").val();
        var investerm = $("#investerm_add_input").val();

        //匹配中文、英文、数字包括下划线(理财产品名称)
        var nameRegex = /^[\u4E00-\u9FA5A-Za-z0-9_]+$/;
        if (name.length === 0) {
            show_validate_msg("#name_add_input",
                "error", "产品名称为空");
            return false;
        } else if (nameRegex.test(name) === false) {
            show_validate_msg("#name_add_input",
                "error", "产品名称不合法（产品名称只能由中文、数字、英文和下划线组成）");
            return false;
        }


        //2、发送ajax请求保存产品
        $.ajax({
            url: "/admin/addTermFinancial",
            type: "POST",
            data: $("#addModal form").serialize(),
            success: function (result) {
                if (result.code === 100) {
                    $("#addModal").modal('hide');
                    $.alert('货币基金产品添加成功！');
                    setTimeout(function () {
                        var pageNum = [[${finacnePageInfo.pages}]];
                        var pageSize = [[${finacnePageInfo.pageSize}]];
                        location.href = "/admin/finance/toTermFinancial.html?pageNum=" + pageNum + "&pageSize=" + pageSize;
                    }, 1000);
                } else {
                    $.alert('货币基金产品添加失败！');
                }
            }
        });
    });

    //点击查看编辑按钮时触发事件
    $(document).on("click", ".select_btn", function () {
        //根据用户id发送ajax请求，查出信息并显示
        getCommonInfo($(this).attr("select-id"));
        //把用户的id传递给模态框的更新按钮
        $("#delete_common_btn").attr("update-id", $(this).attr("update-id"));
        $("#selectCommonModal").modal({
            backdrop: "static"
        });
    });


    //根据id查出信息并显示
    function getCommonInfo(id) {
        var $table = $("#monitor-table");
        $.ajax({
            url: "/comment/searchComment",
            type: "POST",
            async: false,
            data:JSON.stringify( {
                "type": 4,
                "relaId": id
            }),
            contentType: "application/json; charset=utf-8",
            success: function (result) {
                if (result.code === 100) {
                    $("#monitor-table tr:gt(0)").remove();//删除第一行外的所有行
                    var dataObj = result.extend.list;
                    console.log(JSON.stringify(result.extend.list))
                    $.each(dataObj,function(index,item){
                        var $tr = $('<tr>');
                        $.each(item,function(name,val){
                            console.log(val);
                            var $td = $('<td>').html(val);
                            $tr.append($td);
                        });
                        $table.append($tr);
                    });


                } else {
                    $.alert('查看新增失败！');
                }
            }
        });
    }


    //点击编辑按钮时触发事件
    $(document).on("click", ".update_btn", function () {

        //根据用户id发送ajax请求，查出信息并显示
        getFinanceInfo($(this).attr("update-id"));

        //把用户的id传递给模态框的更新按钮
        $("#update_btn").attr("update-id", $(this).attr("update-id"));
        $("#updateModal").modal({
            backdrop: "static"
        });
    });

    //根据id查出信息并显示
    function getFinanceInfo(id) {
        $.ajax({
            url: "/admin/getTermFinancialInfoById/" + id,
            type: "GET",
            success: function (result) {
                var termFinancial = result.extend.termFinancial;

                //显示数据之前先清除一下校验样式，如果有的话
                reset_form("#updateModal form");

                $("#code_update_input").val(termFinancial.code);
                $("#name_update_input").val(termFinancial.name);
                $("#company_update_input").val(termFinancial.company);
                $("#people_update_input").val(termFinancial.people);
                $("#leastmoney_update_input").val(termFinancial.leastmoney);
                $("#instruction_update_input").val(termFinancial.instruction);
                $("#updateModal input[name=risLevel]").val(
                    [ termFinancial.risLevel ]);
            }
        });
    }

    //点击更新，更新信息
    $("#update_btn").click(function () {
        //清空表单样式
        clean_form("#updateModal form");

        var name = $("#name_update_input").val();
        var leastmoney = $("#leastmoney_update_input").val();
        var annualincome = $("#annualincome_update_input").val();
        var investerm = $("#investerm_update_input").val();

        //匹配中文、英文、数字包括下划线(理财产品名称)
        var nameRegex = /^[\u4E00-\u9FA5A-Za-z0-9_]+$/;
        if (name.length === 0) {
            show_validate_msg("#name_update_input",
                "error", "产品名称为空");
            return false;
        } else if (nameRegex.test(name) === false) {
            show_validate_msg("#name_update_input",
                "error", "产品名称不合法（产品名称只能由中文、数字、英文和下划线组成）");
            return false;
        }

        //2、发送ajax请求保存更新的理财产品数据
        $.ajax({
            url: "/admin/updateTermFinancial/" + $(this).attr("update-id"),
            type: "PUT",
            data: $("#updateModal form").serialize(),
            success: function (result) {
                if (result.code === 100) {
                    $("#updateModal").modal('hide');
                    $.alert('货币基金产品信息修改成功！');
                    setTimeout(function () {
                        var pageNum = [[${finacnePageInfo.pageNum}]];
                        var pageSize = [[${finacnePageInfo.pageSize}]];
                        location.href = "/admin/finance/toTermFinancial.html?pageNum=" + pageNum + "&pageSize=" + pageSize;
                    }, 1000);
                } else {
                    $.alert('货币基金产品信息修改失败！');
                }
            }
        });
    });

    //单个删除
    $(document).on("click", ".delete_btn", function () {
        //1、弹出是否确认删除对话框
        var id = $(this).attr("delete-id");
        var name = $(this).attr("delete-name");
        $.alert({
            title: '提示：',
            content: "确定删除债券类基金产品 <strong>" + name + "</strong> 吗？",
            buttons: {
                confirm: {
                    text: '确认',
                    btnClass: 'btn-primary',
                    action: function () {
                        $.ajax({
                            url: "/admin/deleteTermFinancialById/" + id,
                            type: "DELETE",
                            success: function (result) {
                                if (result.code === 100) {
                                    $.alert('删除该货币基金产品成功！');
                                    setTimeout(function () {
                                        var pageNum = [[${finacnePageInfo.pageNum}]];
                                        var pageSize = [[${finacnePageInfo.pageSize}]];
                                        location.href = "/admin/finance/toTermFinancial.html?pageNum=" + pageNum + "&pageSize=" + pageSize;
                                    }, 1000);
                                } else {
                                    $.alert('删除该货币基金产品失败!');
                                }
                            }
                        });
                    }
                },
                cancel: {
                    text: '取消',
                    action: function () {
                        $.alert('已取消!');
                    }
                }
            }
        });
    });

    //清空表单样式及内容
    function reset_form(ele) {
        $(ele)[0].reset();
        //清空表单样式
        $(ele).find("*").removeClass("has-error has-success");
        $(ele).find(".help-block").text("");
    }

    //清空表单样式
    function clean_form(ele) {
        //清空表单样式
        $(ele).find("*").removeClass("has-error has-success");
        $(ele).find(".help-block").text("");
    }

    //显示校验结果的提示信息
    function show_validate_msg(ele, status, msg) {
        //清除当前元素的校验状态
        $(ele).parent().removeClass("has-success has-error");
        $(ele).next("span").text("");
        if ("success" === status) {
            $(ele).parent().addClass("has-success");
            $(ele).next("span").text(msg);
        } else if ("error" === status) {
            $(ele).parent().addClass("has-error");
            $(ele).next("span").text(msg);
        }
    }

</script>
</body>
</html>
