<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <title>个人理财系统</title>
    <!-- 引入bootstrap样式 -->
    <link th:href="@{/bootstrap/css/bootstrap.css}" rel="stylesheet" type="text/css">
    <!--图标库-->
    <link th:href="@{/lyear/css/materialdesignicons.min.css}" rel="stylesheet" type="text/css"/>
    <!--弹出框样式-->
    <link th:href="@{/lyear/jconfirm/jquery-confirm.min.css}" rel="stylesheet" type="text/css"/>
    <!--自定义样式-->
    <link href="../lyear/css/style.min.css" th:href="@{/lyear/css/style.min.css}" rel="stylesheet" type="text/css"/>

</head>
<body>
<div class="lyear-layout-web">
    <div class="lyear-layout-container">
        <!--左侧导航-->
        <div th:replace="user/common/leftbar::#leftbaraside"></div>
        <!--头部信息-->
        <div th:replace="user/common/topbar::#topbarheader"></div>

        <!--页面主要内容-->
        <main class="lyear-layout-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <h4>收支记录</h4>
                                <!-- 新增按钮 -->
                            </div>
                            <div th:if="${!flowOfFundsList.isEmpty()}" class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-hover table-striped">
                                        <thead>
                                        <tr>
                                            <th class="info">序号</th>
                                            <th class="info">金额</th>
                                            <th class="info">类型</th>
                                            <th class="info">来源</th>
                                            <th class="info">时间</th>
                                            <th class="info">详情</th>
                                            <th class="info">相关操作</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="fof:${flowOfFundsList}">
                                            <td th:text="${(flowOfFundsPageInfo.pageNum - 1) * flowOfFundsPageInfo.pageSize+fofStat.index+1}"></td>
                                            <td th:text="${fof.flowmoney}"></td>
                                            <td th:if="${fof.type==1}" th:text="收入"></td>
                                            <td th:if="${fof.type==2}" th:text="支出"></td>
                                            <td th:text="${fof.source}"></td>
                                            <td th:text="${#dates.format(fof.createtime, 'yyyy-MM-dd')}"></td>
                                            <td th:text="${fof.funddesc}"></td>
                                            <td>
                                                <button class="btn btn-danger btn-sm delete_btn"
                                                        th:attr="delete-id=${fof.id},delete-name=${fof.type}">
															<span class="glyphicon glyphicon-trash"
                                                                  aria-hidden="true"></span> 删除
                                                </button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <!-- 显示分页信息 -->
                                <div class="row">

                                    <div class="col-md-1" style="margin-left: 24px">
                                      <button id="add_modal_btn" class="btn btn-primary">新增</button>
                                     </div>

                                    <div class="col-md-5 ">
                                        <div class="btn-group">
                                            <button class="btn btn-default">
                                                <span>页次：</span>
                                            </button>
                                            <button class="btn btn-default">
                                                <span th:text="${flowOfFundsPageInfo.pageNum}+'/'+${flowOfFundsPageInfo.pages}+'页'"></span>
                                            </button>
                                            <button class="btn btn-default">
                                                <span>每页显示：</span>
                                            </button>
                                            <div class="btn-group">
                                                <button id="btnGroupDrop1"
                                                        class="btn btn-default dropdown-toggle"
                                                        data-toggle="dropdown" aria-haspopup="true"
                                                        aria-expanded="false"><span
                                                        th:text="${flowOfFundsPageInfo.pageSize}"></span>
                                                    <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu">
                                                    <li th:each="i:${#numbers.sequence(1,10)}"><a th:text="${i}"
                                                                                                  th:href="@{/user/tools/toRecord.html(pageNum=${flowOfFundsPageInfo.pageNum},pageSize=${i})}"></a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <button class="btn btn-default">
                                                <span>条</span>
                                            </button>
                                            <button class="btn btn-default">
                                                <span>总记录数：</span>
                                            </button>
                                            <button class="btn btn-default">
                                                <span th:text="${flowOfFundsPageInfo.total}+'条'"></span>
                                            </button>
                                        </div>
                                    </div>

                                    <!-- 分页条信息 -->
                                    <div class="col-md-5">
                                        <nav aria-label="Page navigation">
                                            <ul class="pagination pagination-lg pull-right"
                                                style="margin-top: 0">
                                                <li>
                                                    <a th:href="@{/user/tools/toRecord.html(pageNum=1,pageSize=${flowOfFundsPageInfo.pageSize})}">首页</a>
                                                </li>

                                                <li th:if="${flowOfFundsPageInfo.hasPreviousPage }"><a
                                                        th:href="@{/user/tools/toRecord.html(pageNum=${flowOfFundsPageInfo.pageNum}-1,pageSize=${flowOfFundsPageInfo.pageSize})}"
                                                        aria-label="Previous"> <span aria-hidden="true">&laquo;</span>
                                                </a></li>

                                                <li th:each="page_Num:${flowOfFundsPageInfo.navigatepageNums }"
                                                    th:class="${page_Num == flowOfFundsPageInfo.pageNum?'active':''}">
                                                    <a th:if="${page_Num == flowOfFundsPageInfo.pageNum}"
                                                       th:text="${page_Num}"
                                                       th:href="@{#}">
                                                    </a>
                                                    <a th:text="${page_Num}"
                                                       th:if="${page_Num != flowOfFundsPageInfo.pageNum}"
                                                       th:href="@{/user/tools/toRecord.html(pageNum=${page_Num},pageSize=${flowOfFundsPageInfo.pageSize})}">
                                                    </a>
                                                </li>

                                                <li th:if="${flowOfFundsPageInfo.hasNextPage }"><a
                                                        th:href="@{/user/tools/toRecord.html(pageNum=${flowOfFundsPageInfo.pageNum}+1,pageSize=${flowOfFundsPageInfo.pageSize})}"
                                                        aria-label="Next"> <span aria-hidden="true">&raquo;</span>
                                                </a></li>

                                                <li><a
                                                        th:href="@{/user/tools/toRecord.html(pageNum=${flowOfFundsPageInfo.pages},pageSize=${flowOfFundsPageInfo.pageSize})}">末页</a>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>

                            <div th:if="${flowOfFundsList.isEmpty()}" class="card-body">
                                <div class="table-responsive">
                                    <h4>很抱歉！暂时还没有您的收支记录信息

                                    </h4>
                                    <div  style="margin-left: 24px">
                                        <button id="add_modal_btn" class="btn btn-primary">新增</button>
                                    </div>
                                </div>
                            </div>



                        </div>
                    </div>

                    <!-- 新增收支记录的模态框 -->
                    <div class="modal fade" id="addModal" tabindex="-1"
                         role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"
                                            aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <h4 class="modal-title">新增收支记录</h4>
                                </div>
                                <div class="modal-body">
                                    <!--要提交的表单 -->
                                    <form class="form-horizontal">
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">收支类型：</label>
                                            <div class="col-sm-6">
                                                <div class="example-box">
                                                    <label class="lyear-radio radio-inline">
                                                        <input type="radio" name="type"
                                                               value="1" checked="checked"><span>收入</span>
                                                    </label>
                                                    <label class="lyear-radio radio-inline">
                                                        <input type="radio" name="type" id="type_add_input"
                                                               value="2"> <span>支出</span>
                                                    </label>
                                                </div>
                                                <span class="help-block"></span>
                                            </div>
                                            <div class="col-sm-1">
                                                <em style="color: red">*</em>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">金额</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control"
                                                       id="monthmoney_add_input" name="flowmoney"
                                                       placeholder="请输入金额：">
                                                <span class="help-block"></span>
                                            </div>
                                            <div class="col-sm-1">
                                                <em style="color: red">*</em>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">来源</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control"
                                                       id="investerm_add_input" name="source"
                                                       placeholder="请输入来源：">
                                                <span class="help-block"></span>
                                            </div>
                                            <div class="col-sm-1">
                                                <em style="color: red">*</em>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">详情</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control"
                                                       id="fund_add_input" name="funddesc"
                                                       placeholder="请输入详情：">
                                                <span class="help-block"></span>
                                            </div>
                                            <div class="col-sm-1">
                                                <em style="color: red">*</em>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default"
                                            data-dismiss="modal">关闭
                                    </button>
                                    <button type="button" class="btn btn-primary"
                                            id="save_btn">保存
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </main>
        <!--End 页面主要内容-->
    </div>
</div>

<!-- 引入jQuery和bootstrap的js -->
<script th:src="@{/js/jquery.js}"></script>
<script th:src="@{/bootstrap/js/bootstrap.js}"></script>
<!--滚动条插件-->
<script th:src="@{/lyear/js/perfect-scrollbar.min.js}"></script>
<!--弹出框js-->
<script th:src="@{/lyear/jconfirm/jquery-confirm.min.js}"></script>
<!--自定义js脚本-->
<script th:src="@{/lyear/js/main.min.js}"></script>
<script type="text/javascript">

    //点击新增按钮弹出模态框。
    $("#add_modal_btn").click(function () {
        //清除表单数据（表单完整重置（表单的数据，表单的样式））
        reset_form("#addModal form");
        //弹出模态框
        $("#addModal").modal({
            //点击增加框背景不删除增加框
            backdrop: "static"
        });
    });


    //点击保存，保存新增产品信息。
    $("#save_btn").click(function () {
        //清空表单样式
        clean_form("#addModal form");

        var monthmoney = $("#monthmoney_add_input").val();
        var source = $("#investerm_add_input").val();
        var funddesc = $("#fund_add_input").val();

        var obj = $('input[name="type"]:checked').val();
        console.log(obj);

        //匹配有1~2位小数的正实数
        var monthmoneyRegex = /^[0-9]+(.[0-9]{1,2})?$/;
        if (monthmoney.length === 0) {
            show_validate_msg("#monthmoney_add_input",
                "error", "金额为空");
            return false;
        } else if (monthmoneyRegex.test(monthmoney) === false) {
            show_validate_msg("#monthmoney_add_input",
                "error", "金额不合法（有1~2位小数的正实数）");
            return false;
        }

        if (funddesc.length === 0) {
            show_validate_msg("#investerm_add_input",
                "error", "详情");
            return false;
        }


        //2、发送ajax请求保存产品
        $.ajax({
            data:JSON.stringify( {
                "type": obj,
                "source": source,
                "flowmoney": monthmoney,
                "funddesc" : funddesc
            }),
            url: "/user/tools/addRecord",
            type: "POST",
            contentType: "application/json; charset=utf-8",
            success: function (result) {
                if (result.code === 100) {
                    $("#addModal").modal('hide');
                    $.alert('收支记录添加成功！');
                    setTimeout(function () {
                        var pageNum = [[${flowOfFundsPageInfo.pages}]];
                        var pageSize = [[${flowOfFundsPageInfo.pageSize}]];
                        location.href = "/user/tools/toRecord.html?pageNum=" + pageNum + "&pageSize=" + pageSize;
                    }, 1000);
                } else {
                    $.alert('收支记录添加失败！');
                }
            }
        });
    });

    //单个删除
    $(document).on("click", ".delete_btn", function () {
        //1、弹出是否确认删除对话框
        var id = $(this).attr("delete-id");
        var type = $(this).attr("delete-name");
        var name;
        if (type==1){
            name="支出";
        }else if(type==2){
            name="收入";
        }
        $.alert({
            title: '提示：',
            content: "确定删除该 <strong>" + name + "</strong> 记录吗？",
            buttons: {
                confirm: {
                    text: '确认',
                    btnClass: 'btn-primary',
                    action: function () {
                        $.ajax({
                            data:JSON.stringify( {
                                "id": id
                            }),
                            url: "/user/tools/deleteRecord",
                            type: "POST",
                            contentType: "application/json; charset=utf-8",
                            success: function (result) {
                                if (result.code === 100) {
                                    $.alert('删除该收支记录成功！');
                                    setTimeout(function () {
                                        var pageNum = [[${flowOfFundsPageInfo.pageNum}]];
                                        var pageSize = [[${flowOfFundsPageInfo.pageSize}]];
                                        location.href = "/user/tools/toRecord.html?pageNum=" + pageNum + "&pageSize=" + pageSize;
                                    }, 1000);
                                } else {
                                    $.alert('删除该收支记录失败!');
                                }
                            }
                        });
                    }
                },
                cancel: {
                    text: '取消',
                    action: function () {
                        $.alert('已取消!');
                    }
                }
            }
        });
    });


    //清空表单样式及内容
    function reset_form(ele) {
        $(ele)[0].reset();
        //清空表单样式
        $(ele).find("*").removeClass("has-error has-success");
        $(ele).find(".help-block").text("");
    }

    //清空表单样式
    function clean_form(ele) {
        //清空表单样式
        $(ele).find("*").removeClass("has-error has-success");
        $(ele).find(".help-block").text("");
    }


</script>
</body>
</html>
