<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <title>个人理财系统</title>
    <!-- 引入bootstrap样式 -->
    <link th:href="@{/bootstrap/css/bootstrap.css}" rel="stylesheet" type="text/css">
    <!--图标库-->
    <link th:href="@{/lyear/css/materialdesignicons.min.css}" rel="stylesheet" type="text/css"/>
    <!--自定义样式-->
    <link href="../lyear/css/style.min.css" th:href="@{/lyear/css/style.min.css}" rel="stylesheet" type="text/css"/>

</head>
<body>
<div class="lyear-layout-web">
    <div class="lyear-layout-container">
        <!--左侧导航-->
        <div th:replace="user/common/leftbar::#leftbaraside"></div>
        <!--头部信息-->
        <div th:replace="user/common/topbar::#topbarheader"></div>

        <!--页面主要内容-->
        <main class="lyear-layout-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <h4>理财推荐</h4>
                            </div>

                            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

                                <!--股票类基金 -->
                                <div class="panel panel-primary">
                                    <div class="panel-heading" role="tab" id="headingOne">
                                        <h4 class="panel-title">
                                            <a role="button" data-toggle="collapse" data-parent="#accordion"
                                               href="#collapseOne"
                                               aria-expanded="true" aria-controls="collapseOne">
                                                股票类基金
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseOne"
                                         th:class="${session.myFinanceActiveUrl=='changeMoneyActive'?'panel-collapse collapse in':'panel-collapse collapse'}"
                                         class="panel-collapse collapse in" role="tabpanel"
                                         aria-labelledby="headingOne">
                                        <div th:if="${!userChangeMoneyList.isEmpty()}" class="panel-body">

                                            <table class="table table-hover table-striped">
                                                <thead>
                                                <tr>
                                                    <th class="info">基金代码</th>
                                                    <th class="info">产品名称</th>
                                                    <th class="info">行业</th>
                                                    <th class="info">基金经理</th>
                                                    <th class="info">年化收益率</th>
                                                    <th class="info">简介</th>
                                                    <th class="info">风险级别</th>
                                                    <th class="info">相关操作</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr th:each="ucm:${userChangeMoneyList}">
                                                    <td th:text="${ucm.code}"></td>
                                                    <td th:text="${ucm.name}"></td>
                                                    <td th:text="${ucm.company}"></td>
                                                    <td th:text="${ucm.people}"></td>
                                                    <td th:text="${#numbers.formatDecimal(ucm.annualincome*100,1,3)}+'%'"></td>
                                                    <td th:text="${ucm.instruction}"></td>
                                                    <td th:if="${ucm.risLevel==null}" th:text="空"></td>
                                                    <td th:if="${ucm.risLevel==1}" th:text="高"></td>
                                                    <td th:if="${ucm.risLevel==2}" th:text="中"></td>
                                                    <td th:if="${ucm.risLevel==3}" th:text="低"></td>
                                                    <td>
                                                        <button class="btn btn-primary btn-sm buy_btn"
                                                                th:attr="buyBtnId=${ucm.id},buyBtnName=${ucm.name}">
															<span class="glyphicon glyphicon-remove"
                                                                  aria-hidden="true"></span> 收藏
                                                        </button>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>

                                        </div>
                                        <div th:if="${userChangeMoneyList.isEmpty()}" class="panel-body">
                                            <h4>很抱歉！暂时还没有查询到推荐的股票类基金信息</h4>
                                        </div>
                                    </div>
                                </div>

                                <!--债券类基金 -->
                                <div class="panel panel-primary">
                                    <div class="panel-heading" role="tab" id="headingTwo">
                                        <h4 class="panel-title">
                                            <a class="collapsed" role="button" data-toggle="collapse"
                                               data-parent="#accordion"
                                               href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                债券类基金
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseTwo"
                                         th:class="${session.myFinanceActiveUrl=='payMoneyActive'?'panel-collapse collapse in':'panel-collapse collapse'}"
                                         role="tabpanel"
                                         aria-labelledby="headingTwo">
                                        <div th:if="${!userPayMoneyList.isEmpty()}" class="panel-body">
                                            <table class="table table-hover table-striped">
                                                <thead>
                                                <tr>
                                                    <th class="info">基金代码</th>
                                                    <th class="info">产品名称</th>
                                                    <th class="info">行业</th>
                                                    <th class="info">基金经理</th>
                                                    <th class="info">年化收益率</th>
                                                    <th class="info">简介</th>
                                                    <th class="info">风险级别</th>
                                                    <th class="info">相关操作</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr th:each="upm:${userPayMoneyList}">
                                                    <td th:text="${upm.code}"></td>
                                                    <td th:text="${upm.name}"></td>
                                                    <td th:text="${upm.company}"></td>
                                                    <td th:text="${upm.people}"></td>
                                                    <td th:text="${#numbers.formatDecimal(upm.monthmoney*100,1,3)}+'%'"></td>
                                                    <td th:text="${upm.instruction}"></td>
                                                    <td th:text="${upm.risLevel}"></td>
                                                    <td>
                                                        <button class="btn btn-primary btn-sm buy_btn1"
                                                                th:attr="buyBtnId1=${upm.id},buyBtnName1=${upm.type}">
															<span class="glyphicon glyphicon-remove"
                                                                  aria-hidden="true"></span> 收藏
                                                        </button>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div th:if="${userPayMoneyList.isEmpty()}" class="panel-body">
                                            <h4>很抱歉！暂时还没有查询到推荐的债券类基金信息</h4>
                                        </div>

                                    </div>
                                </div>

                                <!--货币基金 -->
                                <div class="panel panel-primary">
                                    <div class="panel-heading" role="tab" id="headingThree">
                                        <h4 class="panel-title">
                                            <a class="collapsed" role="button" data-toggle="collapse"
                                               data-parent="#accordion"
                                               href="#collapseThree" aria-expanded="false" aria-controls="collapseTwo">
                                                货币基金
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseThree"
                                         th:class="${session.myFinanceActiveUrl=='termFinancialActive'?'panel-collapse collapse in':'panel-collapse collapse'}"
                                         role="tabpanel"
                                         aria-labelledby="headingThree">
                                        <div th:if="${!userTermFinancialList.isEmpty()}" class="panel-body">

                                            <table class="table table-hover table-striped">
                                                <thead>
                                                <tr>
                                                    <th class="info">基金代码</th>
                                                    <th class="info">产品名称</th>
                                                    <th class="info">行业</th>
                                                    <th class="info">基金经理</th>
                                                    <th class="info">年化收益率</th>
                                                    <th class="info">简介</th>
                                                    <th class="info">风险级别</th>
                                                    <th class="info">相关操作</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr th:each="utf:${userTermFinancialList}">
                                                    <td th:text="${utf.code}"></td>
                                                    <td th:text="${utf.name}"></td>
                                                    <td th:text="${utf.company}"></td>
                                                    <td th:text="${utf.people}"></td>
                                                    <td th:text="${#numbers.formatDecimal(utf.leastmoney*100,1,3)}+'%'"></td>
                                                    <td th:text="${utf.instruction}"></td>
                                                    <td th:if="${utf.risLevel==null}" th:text="空"></td>
                                                    <td th:if="${utf.risLevel==1}" th:text="高"></td>
                                                    <td th:if="${utf.risLevel==2}" th:text="中"></td>
                                                    <td th:if="${utf.risLevel==3}" th:text="低"></td>
                                                    <td>
                                                        <button class="btn btn-primary btn-sm buy_btn2"
                                                                th:attr="buyBtnId2=${utf.id},buyBtnName2=${utf.name}">
															<span class="glyphicon glyphicon-remove"
                                                                  aria-hidden="true"></span> 收藏
                                                        </button>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>

                                        </div>
                                        <div th:if="${userTermFinancialList.isEmpty()}" class="panel-body">
                                            <h4>很抱歉！暂时还没有查询到推荐的货币基金信息</h4>
                                        </div>
                                    </div>
                                </div>

                                <!--混合类基金 -->
                                <div class="panel panel-primary">
                                    <div class="panel-heading" role="tab" id="headingFour">
                                        <h4 class="panel-title">
                                            <a class="collapsed" role="button" data-toggle="collapse"
                                               data-parent="#accordion"
                                               href="#collapseFour" aria-expanded="false" aria-controls="collapseTwo">
                                                混合类基金
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseFour"
                                         th:class="${session.myFinanceActiveUrl=='fundProductActive'?'panel-collapse collapse in':'panel-collapse collapse'}"
                                         role="tabpanel"
                                         aria-labelledby="headingFour">
                                        <div th:if="${!userFundProductList.isEmpty()}" class="panel-body">

                                            <table class="table table-hover table-striped">
                                                <thead>
                                                <tr>
                                                    <th class="info">基金代码</th>
                                                    <th class="info">产品名称</th>
                                                    <th class="info">行业</th>
                                                    <th class="info">基金经理</th>
                                                    <th class="info">年化收益率</th>
                                                    <th class="info">简介</th>
                                                    <th class="info">风险级别</th>
                                                    <th class="info">相关操作</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr th:each="ufp:${userFundProductList}">
                                                    <td th:text="${ufp.code}"></td>
                                                    <td th:text="${ufp.funddesc}"></td>
                                                    <td th:text="${ufp.company}"></td>
                                                    <td th:text="${ufp.people}"></td>
                                                    <td th:text="${#numbers.formatDecimal(ufp.annualgrowth*100,1,3)}+'%'"></td>
                                                    <td th:text="${ufp.instruction}"></td>
                                                    <td th:text="${ufp.risLevel}"></td>
                                                    <td>
                                                        <button class="btn btn-primary btn-sm buy_btn3"
                                                                th:attr="buyBtnId3=${ufp.id},buyBtnName3=${ufp.funddesc}">
															<span class="glyphicon glyphicon-remove"
                                                                  aria-hidden="true"></span> 收藏
                                                        </button>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>

                                        </div>
                                        <div th:if="${userFundProductList.isEmpty()}" class="panel-body">
                                            <h4>很抱歉！暂时还没有查询到推荐的混合类基金信息</h4>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!--End 页面主要内容-->
    </div>
</div>

<!-- 引入jQuery和bootstrap的js -->
<script th:src="@{/js/jquery.js}"></script>
<script th:src="@{/bootstrap/js/bootstrap.js}"></script>
<!--滚动条插件-->
<script th:src="@{/lyear/js/perfect-scrollbar.min.js}"></script>
<!--弹出框js-->
<script th:src="@{/lyear/jconfirm/jquery-confirm.min.js}"></script>
<!--自定义js脚本-->
<script th:src="@{/lyear/js/main.min.js}"></script>
<link rel="stylesheet" type="text/css" th:href="@{/lyear/css/jquery.easymessager.css}" />
<script type="text/javascript" th:src="@{/js/jquery.easymessager.js}"></script>
<script type="text/javascript">


    var default_options = {
        'timeout' : 10,	// 自动关闭消息的秒数
        'classMessager' : 'easymessager',	// 消息的样式
        'classCloser' : 'easymessager-closer',	// 消息关闭按钮的样式
        'classMessage' : 'easymessager-message'	// 消息内容的样式
    };

    $(document).on("click",".buy_btn",function () {
        var changeMoneyId = $(this).attr("buyBtnId");
        var userId = [[${session.loginUser.id}]];
        var name = $(this).attr("buyBtnName");
        $.ajax({
            url : "/user/buyChangeMoney",
            type : "POST",
            data : {
                "changeMoneyId":changeMoneyId,
                "userId":userId
            },
            success : function(result) {
                if (result.code===100){
                    $.easymessager(result.msg,default_options);
                }else {
                    $.easymessager(result.msg,default_options);
                }
            }
        });
    })

    $(document).on("click",".buy_btn1",function () {
        var payMoneyId = $(this).attr("buyBtnId1");
        var userId = [[${session.loginUser.id}]];
        var name = $(this).attr("buyBtnName1");
        $.ajax({
            url : "/user/buyPayMoney",
            type : "POST",
            data : {
                "payMoneyId":payMoneyId,
                "userId":userId
            },
            success : function(result) {
                if (result.code===100){
                    $.easymessager(result.msg,default_options);
                }else {
                    $.easymessager(result.msg,default_options);
                }
            }
        });
    })



    $(document).on("click",".buy_btn2",function () {
        var termFinancialId = $(this).attr("buyBtnId2");
        var userId = [[${session.loginUser.id}]];
        var name = $(this).attr("buyBtnName2");
        $.ajax({
            url : "/user/buyTermFinancial",
            type : "POST",
            data : {
                "termFinancialId":termFinancialId,
                "userId":userId
            },
            success : function(result) {
                if (result.code===100){
                    $.easymessager(result.msg,default_options);
                }else {
                    $.easymessager(result.msg,default_options);
                }
            }
        });
    })



    $(document).on("click",".buy_btn3",function () {
        var fundProductId = $(this).attr("buyBtnId3");
        var userId = [[${session.loginUser.id}]];
        var name = $(this).attr("buyBtnName3");
        $.ajax({
            url : "/user/buyFundProduct",
            type : "POST",
            data : {
                "fundProductId":fundProductId,
                "userId":userId
            },
            success : function(result) {
                if (result.code===100){
                    $.easymessager(result.msg,default_options);
                }else {
                    $.easymessager(result.msg,default_options);
                }
            }
        });
    })

    //清空表单样式及内容
    function reset_form(ele) {
        $(ele)[0].reset();
        //清空表单样式
        $(ele).find("*").removeClass("has-error has-success");
        $(ele).find(".help-block").text("");
    }

    //清空表单样式
    function clean_form(ele) {
        //清空表单样式
        $(ele).find("*").removeClass("has-error has-success");
        $(ele).find(".help-block").text("");
    }

    //显示校验结果的提示信息
    function show_validate_msg(ele, status, msg) {
        //清除当前元素的校验状态
        $(ele).parent().removeClass("has-success has-error");
        $(ele).next("span").text("");
        if ("success" === status) {
            $(ele).parent().addClass("has-success");
            $(ele).next("span").text(msg);
        } else if ("error" === status) {
            $(ele).parent().addClass("has-error");
            $(ele).next("span").text(msg);
        }
    }

</script>
</body>
</html>
