<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <title>个人理财系统</title>
    <!-- 引入bootstrap样式 -->
    <link th:href="@{/bootstrap/css/bootstrap.css}" rel="stylesheet" type="text/css">
    <!--图标库-->
    <link th:href="@{/lyear/css/materialdesignicons.min.css}" rel="stylesheet" type="text/css"/>
    <!--弹出框样式-->
    <link th:href="@{/lyear/jconfirm/jquery-confirm.min.css}" rel="stylesheet" type="text/css"/>
    <!--自定义样式-->
    <link href="../lyear/css/style.min.css" th:href="@{/lyear/css/style.min.css}" rel="stylesheet" type="text/css"/>

</head>
<body>
<div class="lyear-layout-web">
    <div class="lyear-layout-container">
        <!--左侧导航-->
        <div th:replace="user/common/leftbar::#leftbaraside"></div>
        <!--头部信息-->
        <div th:replace="user/common/topbar::#topbarheader"></div>

        <!--页面主要内容-->
        <main class="lyear-layout-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <div>
                                    <h4>股票类基金管理</h4>
                                </div>
                                <br>

                                <div class="col-sm-2">
                                    <input type="text" class="form-control"
                                           id="select_id_input" name="content"
                                           placeholder="请输入产品id：" width="100px">
                                    <span class="help-block"></span>
                                </div>

                                <div class="col-md-2">
                                    <input type="text" class="form-control"
                                           id="select_name_input" name="content"
                                           placeholder="请输入产品名称：" width="100px">
                                    <span class="help-block"></span>
                                </div>

                                <div class="col-md-2">
                                    <input type="text" class="form-control"
                                           id="select_company_input" name="content"
                                           placeholder="请输入行业：" width="100px">
                                    <span class="help-block"></span>
                                </div>

                                <div class="col-md-2">
                                    <input type="text" class="form-control"
                                           id="select_manager_input" name="content"
                                           placeholder="请输入经理：" width="100px">
                                    <span class="help-block"></span>
                                </div>

                                <button id="select_view_btn" class="btn btn-primary btn-sm ">
															<span class="glyphicon glyphicon-pencil"
                                                                  aria-hidden="true"></span> 查询
                                </button>

                            </div>
                            <div th:if="${!changeMoneyList.isEmpty()}" class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-hover table-striped">
                                        <thead>
                                        <tr>
                                            <th class="info">序号</th>
                                            <th class="info">产品名称</th>
                                            <th class="info">七日年化收益率</th>
                                            <th class="info">每万元收益</th>
                                            <th class="info">投资期限</th>
                                            <th class="info">起投金额</th>
                                            <th class="info">风险级别</th>
                                            <th class="info">相关操作</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="cm:${changeMoneyList}">
                                            <td th:text="${cmStat.index+1}"></td>
                                            <td th:text="${cm.name}"></td>
                                            <td th:text="${#numbers.formatDecimal(cm.annualincome*100,1,3)}+'%'"></td>
                                            <td th:text="${#numbers.formatDecimal(cm.peiincome,1,2)}+'元'"></td>
                                            <td th:text="${cm.investerm}"></td>
                                            <td th:text="${cm.invesmoney}+'元'"></td>
                                            <td th:if="${cm.risLevel==null}" th:text="空"></td>
                                            <td th:if="${cm.risLevel==1}" th:text="高"></td>
                                            <td th:if="${cm.risLevel==2}" th:text="中"></td>
                                            <td th:if="${cm.risLevel==3}" th:text="低"></td>
                                            <td>
                                                <button class="btn btn-primary btn-sm buy_btn"
                                                        th:attr="buyBtnId=${cm.id},buyBtnName=${cm.name}">
															<span class="glyphicon glyphicon-usd"
                                                                  aria-hidden="true"></span> 收藏
                                                </button>
                                                <button id="select_common_btn" class="btn btn-primary btn-sm select_btn"
                                                        th:attr="select-id=${cm.id}">
															<span class="glyphicon glyphicon-trash"
                                                                  aria-hidden="true"></span> 查看评论
                                                </button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div th:if="${changeMoneyList.isEmpty()}" class="card-body">
                                <div class="table-responsive">
                                    <h4>很抱歉！暂时还没有股票类基金向您推荐</h4>
                                </div>
                            </div>

                        </div>
                    </div>

                    <!-- 查看评论的模态框 -->
                    <div class="modal fade" id="selectCommonModal" tabindex="-1"
                         role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"
                                            aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <h4 class="modal-title">查看股票类基金评论</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="table-responsive">
                                        <table id="monitor-table" class="table table-hover table-striped">
                                            <thead>
                                            <tr>
                                                <th data-field="item0">序号</th>
                                                <th data-field="item1">评论内容</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default"
                                            data-dismiss="modal">关闭
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </main>
        <!--End 页面主要内容-->
    </div>
</div>

<!-- 引入jQuery和bootstrap的js -->
<script th:src="@{/js/jquery.js}"></script>
<script th:src="@{/bootstrap/js/bootstrap.js}"></script>
<!--滚动条插件-->
<script th:src="@{/lyear/js/perfect-scrollbar.min.js}"></script>
<!--弹出框js-->
<script th:src="@{/lyear/jconfirm/jquery-confirm.min.js}"></script>
<!--自定义js脚本-->
<script th:src="@{/lyear/js/main.min.js}"></script>
<script th:inline="javascript">

    //点击查看编辑按钮时触发事件
    $(document).on("click", ".select_btn", function () {
        //根据用户id发送ajax请求，查出信息并显示
        getCommonInfo($(this).attr("select-id"));
        //把用户的id传递给模态框的更新按钮
        $("#delete_common_btn").attr("update-id", $(this).attr("update-id"));
        $("#selectCommonModal").modal({
            backdrop: "static"
        });
    });




    //根据id查出信息并显示
    function getCommonInfo(id) {
        var $table = $("#monitor-table");
        $.ajax({
            url: "/comment/searchComment",
            type: "POST",
            async: false,
            data:JSON.stringify( {
                "type": 2,
                "relaId": id
            }),
            contentType: "application/json; charset=utf-8",
            success: function (result) {
                if (result.code === 100) {
                    $("#monitor-table tr:gt(0)").remove();//删除第一行外的所有行
                    var dataObj = result.extend.list;
                    console.log(JSON.stringify(result.extend.list))
                    $.each(dataObj,function(index,item){
                        var $tr = $('<tr>');
                        $.each(item,function(name,val){
                            console.log(val);
                            var $td = $('<td>').html(val);
                            $tr.append($td);
                        });
                        $table.append($tr);
                    });


                } else {
                    $.alert('查看评论失败！');
                }
            }
        });
    }


    $("#select_view_btn").click(function () {
        var code = $("#select_id_input").val();
        var name = $("#select_name_input").val();
        var company = $("#select_company_input").val();
        var manager = $("#select_manager_input").val();
        var pageNum = [[${finacnePageInfo.pages}]];
        var pageSize = [[${finacnePageInfo.pageSize}]];
        location.href = "/user/finance/toChangeMoney.html?pageNum=" + pageNum
            + "&pageSize=" + pageSize
            + "&code=" + code
            + "&name=" + name
            + "&company=" + company
            + "&people=" + manager;
    });

    $(document).on("click",".buy_btn",function () {
        var changeMoneyId = $(this).attr("buyBtnId");
        var userId = [[${session.loginUser.id}]];
        //alert(userId);
        var name = $(this).attr("buyBtnName");
        $.alert({
            title: '提示：',
            content: "确定收藏 <strong>"+name+"</strong> 吗？",
            buttons: {
                confirm: {
                    text: '确认',
                    btnClass: 'btn-primary',
                    action: function(){
                        $.ajax({
                            url : "/user/buyChangeMoney",
                            type : "POST",
                            data : {
                                "changeMoneyId":changeMoneyId,
                                "userId":userId
                            },
                            success : function(result) {
                                if (result.code===100){
                                    $.alert(result.msg);
                                }else {
                                    $.alert('收藏失败!');
                                }
                            }
                        });

                    }
                },
                cancel: {
                    text: '取消',
                    action: function () {
                        $.alert('已取消!');
                    }
                }
            }
        });
    })

</script>
</body>
</html>
